:root {
    --brand-color: #ffcc33;
    --red-color:#ff1616;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kavivanar', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}


main {
    z-index: -3;
}